<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lcdemo.modular.admin.dao.ForumsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.lcdemo.modular.admin.model.Forums">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="content" property="content" />
        <result column="img" property="img" />
        <result column="like" property="like" />
        <result column="reply" property="reply" />
        <result column="create_time" property="createTime" />
        <result column="title" property="title" />
        <result column="is_top" property="isTop" />
    </resultMap>

    <select id="selectTodayForumsNum"  resultType="java.lang.Integer">
        SELECT count(*) FROM forums WHERE create_time >= #{startTime} AND create_time &lt;= #{endTime} ;
    </select>
</mapper>
