<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lcdemo.modular.admin.dao.HomepageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.lcdemo.modular.admin.model.Homepage">
        <id column="id" property="id" />
        <result column="info_type" property="infoType" />
        <result column="img" property="img" />
        <result column="title" property="title" />
        <result column="test_id" property="testId" />
    </resultMap>

    <select id="selectTitleHomePage" resultMap="BaseResultMap">
        SELECT id,info_type,img,title,test_id FROM homepage WHERE info_type LIKE  #{infoType} AND title LIKE #{title}  LIMIT #{offset},#{limit}
    </select>

    <select id="selectTitleHomePageCount" resultType="java.lang.Integer">
        SELECT COUNT(*)   FROM homepage WHERE info_type LIKE  #{infoType} AND title LIKE #{title}
    </select>
</mapper>
