<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lcdemo.modular.admin.dao.UserInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.lcdemo.modular.admin.model.UserInfo">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="nickname" property="nickname" />
        <result column="create_time" property="createTime" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="userimg" property="userimg" />
        <result column="level" property="level" />
        <result column="xp" property="xp" />
        <result column="gold" property="gold" />
        <result column="telphone" property="telphone" />
        <result column="ban" property="ban" />
    </resultMap>
    <select id="selectRegisterNum"  resultType="java.lang.Integer">
        SELECT count(*) FROM user_info  WHERE create_time >= #{startTime} AND create_time &lt;= #{endTime} ;
    </select>
    <select id="selectUserIsBan" resultType="java.lang.Integer">
        SELECT ban from user_info WHERE username = #{username};
    </select>
</mapper>
